nav{
    column-count: 3;
  li{
    list-style-type: none;
    display: inline-block;

    a{
      text-decoration: none;
      padding-left: 20px;
    }
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: left;
    a{
      color: red;
      font-size: 2rem;
      font-weight: 500;
    }
  }
  .menu-list{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-left: 30px;
    a{
      color: black;
      font-size: 1.1rem;
    }
  }
  .menu-login{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-left: 130px;
    a{
      color: red;
      font-size: 1.1rem;
    }
    .special{
      color: black;
    }
  }
}

main{
  padding-top: 40px;
  padding-left: 80px;
  column-count: 2;
  
  .image{
   position: relative;
   left: 10px;
   top: 100px;
    
  }

  .text{
    position: relative;
    top: 100px;
    left: 220px;

    .textonly{
      p{
        font-size: 1.9rem;
        letter-spacing: 3px;
        line-height: 40px;
      }
      .slice{
        color: red;
      }
      .friends{
        color: blue;
      }
    }

    .first{
      margin-left: 20px;
      padding: 7px 20px;
      border-radius: 10px;
      color: blue;
      border: 2px solid silver;

    }
    .second{
      margin-left: 20px;
      padding: 7px 20px;
      border-radius: 10px;
      background-color: red;
      color: white;
      border: none;
    }
  }
}